---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #7e3ad1 !default;
$header-bg-color-secondary: #57cece !default;

// Text
$section-headings-color: #7e3ad1 !default;

@import "{{ site.theme }}";